$primary: #2563eb;
$secondary: #475569;

// Navbar (top)
$navbar-bg: #1e293b;
$navbar-height: 56px;

// Sidebar
$sidebar-bg: #1a1d20;
$sidebar-border-color: #2b3035;
$sidebar-width: 260px;

// Items (e.g. sidebar nav items, dropdown menu items)
$item-text-color: #ababab;
$item-hover-color: #283345;
$item-active-color: #1e293b;

// Cards
$card-bg: #2b3035;
$card-border-width: 0;

@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "history";
@import "login";
@import "sidebar";

html {
    scroll-behavior: smooth;
}

[id] {
    scroll-margin-top: calc($navbar-height + 10px);
}

.progress-text {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.progress-text-right {
    text-align: right;
    width: 2rem;
    height: 1rem;
    font-size: 0.75rem;
}

.episode-pagination > * {
    display: inline-flex;
    width: 50%;
}

.navbar {
    background: $navbar-bg;
}

.scaled-image {
    background-repeat: no-repeat;
    background-position: center;
    border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius);
}

@media (max-width: 767px) {
    .scaled-image {
        height: 300px;
        border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
    }
}

.app-layout {
    display: flex;
    min-height: calc(100vh - $navbar-height);
}

.dropdown-menu {
    background-color: #252a2f;
    border-radius: 0.75rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    border: 1px solid rgba(255,255,255,0.05);
}

.dropdown-toggle::after, .collapse-icon {
    transition: transform 0.2s ease;
    transform-origin: center;
}

.dropdown-toggle[aria-expanded="true"]::after, .collapsed .collapse-icon {
    transform: rotate(180deg);
}

.season-dropdown .dropdown-menu {
    overflow-y: auto;
    width: 300px;
    max-height: 300px;
}

.hoverable-item {
    color: $item-text-color;

    &.active {
        background-color: $item-active-color;
    }

    &:hover {
        background-color: $item-hover-color;
    }
}

#nav-searchbar {
    width: 100%;
    max-width: 700px;
}

[data-bs-toggle="collapse"] {
    cursor: pointer;
}
