.sidebar {
    position: fixed;
    width: $sidebar-width;
    background: $sidebar-bg;
    border-right: 1px solid $sidebar-border-color;
    z-index: 1045;
}

.sidebar .nav .nav-item {
    a {
        color: $item-text-color;
    }

    :hover {
        background-color: $item-hover-color;
    }

    .active {
        background-color: $item-active-color;
    }
}

@media (min-width: 992px) {
    .sidebar {
        transform: none;
        top: $navbar-height;
        left: 0;
        bottom: 0;
    }

    .content {
        margin-left: $sidebar-width;
    }
}

@media (max-width: 991px) {
    .sidebar {
        top: 0;
        left: 0;
        height: 100%;
        transform: translateX(-100%);
        transition: transform 0.2s ease;
    }

    .sidebar.show {
        transform: translateX(0);
    }
}
