{% extends "shows/show.twig" %}

{% block showContent %}
    <h2 class="mb-3">{{ title|trans({count: episodes|length}) }}</h2>

    {% include "components/episode-list-wide.twig" with {"episodes": episodes} only %}
{% endblock %}
