<div id="history-edit-tooltip" class="popper">
    <div data-popper-arrow></div>

    <div class="card">
        <div class="card-header">Remove history entries?</div>
        <div class="card-body">
            <button class="btn btn-sm btn-danger" id="history-edit-tooltip-remove-this-view">This view</button>
            <button class="btn btn-sm btn-danger" id="history-edit-tooltip-remove-all-views">All views</button>
            <button class="btn btn-sm btn-secondary" id="history-edit-tooltip-cancel">No</button>
        </div>
    </div>
</div>