<div id="history-edit-tooltip" class="popper">
    <div data-popper-arrow></div>

    <div class="card">
        <div class="card-header">{{ "views.remove.header"|trans }}</div>
        <div class="card-body">
            <button class="btn btn-sm btn-danger" id="history-edit-tooltip-remove-this-view">{{ "views.remove.this-view"|trans }}</button>
            <button class="btn btn-sm btn-danger" id="history-edit-tooltip-remove-all-views">{{ "views.remove.all-views"|trans }}</button>
            <button class="btn btn-sm btn-secondary" id="history-edit-tooltip-cancel">{{ "views.remove.cancel"|trans }}</button>
        </div>
    </div>
</div>