{% extends "page.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <h1>Latest episodes</h1>

    {% if latestEpisodes %}
        {% include "components/episode-list-small.twig" with {"episodes": latestEpisodes, "withShowTitle": true} %}
    {% else %}
        <div class="alert alert-warning">No episodes available.</div>
    {% endif %}

    <h1 class="mt-3">Latest movies</h1>

    {% if latestMovies %}
        {% include "components/movie-list-small.twig" with {"movies": latestMovies} %}
    {% else %}
        <div class="alert alert-warning">No movies available.</div>
    {% endif %}
{% endblock %}