{% extends "page.twig" %}

{% block title %}{{ "movies.all-movies"|trans }}{% endblock %}

{% block content %}
    <h1>{{ "movies.all-movies"|trans }}</h1>

    {% if movies %}
        {% include "components/movie-list-small.twig" with {"movies": movies} %}
    {% else %}
        <div class="alert alert-warning">{{ "movies.no-movies-available"|trans }}</div>
    {% endif %}
{% endblock %}