{% extends "page.twig" %}

{% block title %}All movies{% endblock %}

{% block content %}
    <h1>All movies</h1>

    {% if movies %}
        {% include "components/movie-list-small.twig" with {"movies": movies} %}
    {% else %}
        <div class="alert alert-warning">No movies available.</div>
    {% endif %}
{% endblock %}