{% extends "page.twig" %}

{% block title %}{{ show.title }}{% endblock %}

{% block content %}
    <h1>{{ show.title }}</h1>

    <small class="d-block">{% trans with{"%count%": show.seasons|length} %}shows.count.seasons{% endtrans %}</small>
    <small class="d-block">{% trans with{"%count%": show.totalEpisodes} %}shows.count.episodes{% endtrans %}</small>

    {% include "components/show-status-badge.twig" with {"status": show.status, "classes": "my-2"} only %}

    <h2>{{ "shows.seasons"|trans }}</h2>

    {% if show.seasons %}
        {% include "components/season-list-small.twig" with {"seasons": show.seasons} %}
    {% else %}
        <div class="alert alert-warning">{{ "shows.no-seasons-available"|trans }}</div>
    {% endif %}
{% endblock %}