{% extends "page.twig" %}

{% block title %}All shows{% endblock %}

{% block content %}
    <h1>All shows</h1>

    {% if shows %}
        {% include "components/show-list-small.twig" with {"shows": shows} %}
    {% else %}
        <div class="alert alert-warning">No shows available.</div>
    {% endif %}
{% endblock %}