{% extends "page.twig" %}

{% block title %}{{ show.title }}{% endblock %}

{% block content %}
    <h1>{{ show.title }}</h1>

    <h2>{{ "shows.seasons"|trans }}</h2>

    {% if show.seasons %}
        {% include "components/season-list-small.twig" with {"seasons": show.seasons} %}
    {% else %}
        <div class="alert alert-warning">{{ "shows.no-seasons-available"|trans }}</div>
    {% endif %}
{% endblock %}