<div class="row row-cols-1 g-4">
    {% for movie in movies %}
        <div class="col">
            {% include "components/movie-card-wide.twig" with {"movie": movie} %}
        </div>
    {% endfor %}
</div>