<div class="card">
    <div class="row g-0">
        <div class="col-md-4 scaled-image" style="background-image: url({{ movie.posterImageUrl }});"></div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <div class="card-text mt-3">
                    <small class="d-block text-body-secondary">{{ movie.year }}</small>
                    {% include "components/view.twig" with {"type": "movie", "item": movie} only %}
                </div>
                <div class="card-text mt-3">{{ movie.plot }}</div>
            </div>
        </div>
    </div>
</div>