<a class="card text-reset text-decoration-none" href="{{ path("moviePage", {"movie": movie.id}) }}">
    <img class="card-img-top" src="{{ movie.posterImageUrl }}"/>
    <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        <div class="text-body-secondary">{{ movie.year }}</div>
    </div>
</a>