<a class="card text-reset text-decoration-none" href="{{ path("seasonPage", {"id": season.show.id, "number": season.number}) }}">
    <img class="card-img-top" src="{{ season.posterImageUrl }}"/>
    <div class="card-body">
        <h5 class="card-title">{{ "shows.season"|trans({"%number%": season.number }) }}</h5>
        <small>{{ "shows.count.episodes"|trans({"%count%": season.episodes|length}) }}</small>
    </div>
</a>