<a class="card text-reset text-decoration-none" href="{{ path("showOverviewPage", {"id": show.id}) }}">
    <img class="card-img-top" src="{{ show.posterImageUrl }}"/>
    <div class="card-body">
        <h5 class="card-title">{{ show.title }}</h5>
    </div>
</a>