{% set assetEntryPoint = "main" %}

{% extends "page.twig" %}

{% block title %}View profile - {{ user.username }}{% endblock %}

{% block content %}
    <h1>Profile</h1>
    <a href="{{ path("userHistoryPage", {"username": user.username}) }}">History</a>

    <h2 class="mt-3">Latest watched episodes</h2>

    {% if latestWatchedEpisodes %}
        <div class="row row-cols-1 row-cols-md-5 g-4">
            {% for entry in latestWatchedEpisodes %}
                <div class="col">
                    {% include "history/entry.twig" with {"entry": entry} only %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning">No episodes available.</div>
    {% endif %}

    <h2 class="mt-3">Latest watched movies</h2>

    {% if latestWatchedMovies %}
        <div class="row row-cols-1 row-cols-md-5 g-4">
            {% for entry in latestWatchedMovies %}
                <div class="col">
                    {% include "history/entry.twig" with {"entry": entry} only %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning">No movies available.</div>
    {% endif %}
{% endblock %}

{% block additional_content %}
    {% include "history/additional-content.twig" %}
{% endblock %}