{% extends "page.twig" %}

{% block title %}Register{% endblock %}

{% block content %}
    <form class="w-100 m-auto" id="login-form" action="{{ path("registerPage") }}" method="post">
        <h1 class="h3 mb-3 fw-normal">Register new account</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="login-username" name="username" placeholder="Username"/>
            <label for="login-username">Username</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="login-password" name="password" placeholder="Password"/>
            <label for="login-password">Password</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="login-password-repeat" name="password-repeat" placeholder="Password"/>
            <label for="login-password-repeat">Password (repeat)</label>
        </div>

        {% if error %}
            <div class="alert alert-danger"><i class="fa-solid fa-exclamation-triangle"></i> {{ error.message }}</div>
        {% endif %}

        <button class="btn btn-primary w-100 py-2" type="submit">Register</button>

        <a href="{{ path("loginPage") }}" class="btn btn-secondary w-100 py-2 my-2">Already have an account?</a>
    </form>
{% endblock %}